# Termux-iOS Git Ignore

# Build & distribution archives
/dist/
*.ipa
*.tipa
*.tar
*.zip
*.o
*.dylib

# Xcode build artifacts
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Temporary & system files
.DS_Store
*~
*.swp
*.swo
